//site icon
link(rel="icon" href="images/logos/logo.png")

//normalize liberary
link(rel="stylesheet" , href="css/normalize.css")


//bootstrap
link(rel="stylesheet" , href="css/bootstrap.min.css")

//Font awesome
link(rel="stylesheet", href="css/fontawesome-all.min.css")


//my css file 
link(rel="stylesheet", href="css/main.min.css")

if (lang == "Ar")
    link(rel="stylesheet", href="css/rtl.css")