//site icon
link(rel="icon" href="images/logo.png")

//normalize liberary
link(rel="stylesheet" , href="css/normalize.css")


//bootstrap
link(rel="stylesheet" , href="css/bootstrap.min.css")

//my css file
link(rel="stylesheet", href="css/main.css")