section#goals
    if(lang == "En")
        h2.fw-bold.text-center
            span.colorize Our 
            | goals
    else if(lang == "Ar")
        h2.fw-bold.text-center
            span.colorize أهدافنا
    .container 
        .row.content
            .section_image.col 
                img.img-fluid(src="images/about/goals.svg", alt="why us image")
            .section_description.col
                if(lang == "En")
                    ul
                        li test
                        li test
                        li test
                        li test
                        li test
                else if(lang == "Ar")
                    ul
                        li تست
                        li تست
                        li تست
                        li تست
                        li تست