section#goals
    if(lang == "En")
        h2.fw-bold.text-center
            span.colorize Our 
            | goals
    else if(lang == "Ar")
        h2.fw-bold.text-center
            span.colorize أهدافنا
    .container 
        .row.content.row-cols-sm-2.row-cols-1
            .section_image.col 
                img.img-fluid(src="images/about/goals.svg", alt="why us image")
            .section_description.col
                if(lang == "En")
                    ul.en
                        li.my-4 Maintaining the best performance in making applications, technological development, and keeping pace with the local and global market.
                        li.my-4 Providing technical systems and solutions for companies at the highest level of efficiency and effectiveness and providing the highest value to its users at the most reasonable .cost, which leads to the development of facilities with the most minor investment.
                        li.my-4 To be the best IT company that takes into account the convenience of its customers .
                        li.my-4 Providing innovative software and technology services .
                        li.my-4 Continuing in the forefront, considering our commitment to our values.
                else if(lang == "Ar")
                    ul
                        li.my-4 الحفاظ على أفضل أداء في صنع التطبيقات والتطوير التكنولوجي ومواكبة السوق المحلي والعالمي .
                        li.my-4 توفير نظم وحلول تقنية للشركات على أعلى مستوى من الكفاءة والفاعلية ، وتقديم أعلى قيمة لمستخدميها بأنسب تكلفة مما يؤدي إلى تطوير المنشأت بأقل الإستثمارات .
                        li.my-4 أن نكون أفضل شركة تكنولوجيا معلومات تراعي راحة عملائها .
                        li.my-4 تقديم خدمات برمجية وتكنولوجية إبداعية .
                        li.my-4 الاستمرار في المقدمة، مع مراعاة الالتزام بقيمنا .