section#values.dark
    if(lang == "En")
        h2.fw-bold.text-center
            span.colorize Our 
            | values
    else if(lang == "Ar")
        h2.fw-bold.text-center
            span.colorize قيمنا
    .container 
        .row.content.row-cols-sm-2.row-cols-1
            .section_image.col
                    img.img-fluid(src="images/about/values.svg", alt="why us image")
            .section_description.col
                if(lang == "En")
                    ul
                        li  Development
                        li Quality and Satisfaction
                        li Respect and Trust
                        li Passion and Engagement
                        li Creativity and Pragmatism
                        li Support and cooperation
                        li Commitment
                else if(lang == "Ar")
                    ul
                        li تطوير الذات
                        li الجودة والرضا
                        li الاحترام والثقة
                        li الشغف والمشاركة
                        li الإبداع والنهج العلمي 
                        li الدعم والتعاون
                        li الالتزام 