#why {
    line-height: 2.5;

    @media (max-width: 575.98px) {
        display: initial;
        font-size: 12px;
        line-height: 1.5;
    }

    // @media (min-width: 576px) and (max-width:768px) {
    //     display: initial;
    //     font-size: 18px;
    //     line-height: 2;
    // }

    .left {
        width: 50%;
        padding: 80px;

        @media (max-width: 576px) {
            width: 100%;
        }

        img {
            max-width: 100%;
        }
    }

    .right {
        padding: 50px;

        @media (max-width: 576px) {
            width: 100%;
            font-size: 14px;
        }

        @media (min-width: 576px) and (max-width:768px) {
            font-size: 16px;
        }
    }
}