-var pageTitle = 'تريو';
-var lang = 'Ar';
<!DOCTYPE html>
include ../layout/IE-HTML
html(lang="ar")
    head
        include ../layout/meta
        include ../layout/fonts
        include ../layout/styles
    body
        .clients-ar
            include ../components/nav
            include ../components/contacts-popup
            include ../layout/scripts