mixin clientsCard($src , $alt , $cardTitle , $cardTitleArabic )
    .col
        .card(style='width: 16rem;')
            img.card-img-top(src= $src , alt=$alt)
            .card-body
                if (lang == "En")
                    h6.text-center.card-title= $cardTitle
                else 
                    h6.text-center.card-title= $cardTitleArabic
            
.container.services_container
    .row
        +clientsCard(
            'images/services/business_email.svg',
            "business_email",
            "business email",
            "بريد الكترونى للعمل")
        +clientsCard(
            'images/services/certificate.svg',
            "SSL certificate",
            "SSL certificate",
            "شهادة أمان SSL")
        +clientsCard(
            'images/services/domain.svg',
            "domain",
            "domain",
            "دومين")
        +clientsCard(
            'images/services/graphic_design.svg',
            "graphic design",
            "graphic design",
            "تصميم جرافيك")
        +clientsCard(
            'images/services/hosting.svg',
            "web hosting",
            "web hosting",
            "استضافة مواقع")
        +clientsCard(
            'images/services/marketing.svg',
            "E-marketing",
            "E-marketing",
            "تسويق الكترونى")
        +clientsCard(
            'images/services/mobile.svg',
            "mobile applications",
            "mobile applications",
            "تطبيقات موبايل")
        +clientsCard(
            'images/services/seo.svg',
            "seo",
            "seo",
            "تحسين محرك البحث")
        +clientsCard(
            'images/services/web_developement.svg',
            "web developement",
            "web developement",
            "تطوير مواقع ويب")