@mixin transform($name) {
    transform: $name;
    -webkit-transform: $name;
    -moz-transform: $name;
    -ms-transform: $name;
    -o-transform: $name;
}

@mixin easeTransition($time) {
    transition: all $time ease-in-out;
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
}

@mixin socialMedia($brandColor) {
    cursor: pointer;

    a {
        color: $brandColor;
    }

    &:hover {
        background: $brandColor;
        transform: scale(1.1);
        box-shadow: 0px 0px 4px 3px #ccc;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);

        a {
            color: $logo_color_two
        }
    }
}