-var pageTitle = 'عنا';
-var lang = 'Ar';
<!DOCTYPE html>
include pug/layout/IE-HTML
html(lang="ar")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        .about-ar
            include pug/components/nav
            include pug/components/contacts-popup
            include pug/sections/about/goals
            include pug/sections/about/strategy
            include pug/sections/about/values
            include pug/components/footer
            include pug/layout/scripts