- var pageTitle = 'Clients';
-var activeLi = "Clients";
<!DOCTYPE html>
include pug/layout/IE-HTML
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        section.home-page
        include pug/components/nav
        include pug/layout/scripts