-var pageTitle = 'تواصل معنا';
-var lang = 'Ar';
<!DOCTYPE html>
include pug/layout/IE-HTML
html(lang="ar")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        .contacts-ar
            include pug/components/nav
            include pug/components/contacts-popup
            include pug/layout/scripts