- var pageTitle = 'Services';
-var lang = 'En';
<!DOCTYPE html>
include pug/layout/IE-HTML
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        .services
            include pug/components/nav
            include pug/components/contacts-popup
            include pug/helpers/clientsCard
            include pug/components/footer
            include pug/layout/scripts