-var pageTitle = 'خدماتنا';
-var lang = 'Ar';
<!DOCTYPE html>
include pug/layout/IE-HTML
html(lang="ar")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        .services-ar
            include pug/components/nav
            include pug/components/contacts-popup
            section
                h2.fw-bold.text-center
                    span.colorize خدماتنا
                include pug/helpers/clientsCard
            include pug/components/footer
            include pug/layout/scripts