.app
  .cardList
    button.carouselButton.cardList__btn.btn.btn--left(aria-label="left")
      .icon
        svg
          use(xlink:href='#arrow-left')
    .cards__wrapper
      .card.current--card
        .card__image
          img(src='images/products/trio-travel.png' alt='trio travel logo')
      .card.next--card
        .card__image
          img(src='images/products/altojar.png' alt='Al-tojar logo')
      .card.previous--card
        .card__image
          img(src='https://source.unsplash.com/m7K4KzL5aQ8' alt='')
    button.carouselButton.cardList__btn.btn.btn--right(aria-label="right")
      .icon
        svg
          use(xlink:href='#arrow-right')
  .infoList
    .info__wrapper
      if(lang == "En")
        .info.current--info
          h1.text.name Trio Travel
          h4.text.location tourism
          p.text.description Travel and tourism management software
        .info.next--info
          h1.text.name Al tojaar
          h4.text.location For commercial
          p.text.description System for managing and organizing shops
        .info.previous--info
          h1.text.name Chamonix
          h4.text.location France
          p.text.description Let your dreams come true
      else 
        .info.current--info
          h1.text.name تريو ترافيل
          h4.text.location للسياحة
          p.text.description برنامج إدارة شركات السفر والسياحة
        .info.next--info
          h1.text.name التجار
          h4.text.location للمحلات التجارية
          p.text.description نظام لإدارة وتنظيم المحلات التجارية
        .info.previous--info
          h1.text.name Chamonix
          h4.text.location France
          p.text.description Let your dreams come true
  .app__bg
    .app__bg__image.current--image
      img(src='images/products/trio-travel.png' alt='trio travel logo')
    .app__bg__image.next--image
      img(src='images/products/altojar.png' alt='Al-tojar logo')
    .app__bg__image.previous--image
      img(src='https://source.unsplash.com/m7K4KzL5aQ8' alt='')
.loading__wrapper
  .loader--text Loading...
    .loader
      span
svg.icons(style='display: none;')
  symbol#arrow-left(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
    polyline(points='328 112 184 256 328 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px')
  symbol#arrow-right(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
    polyline(points='184 112 328 256 184 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px')