section#why.dark
    if(lang == "En")
        h2.fw-bold.text-center.my-3
            span.colorize Why 
            | Us
    else if(lang == "Ar")
        h2.fw-bold.text-center.my-3
            span.colorize لماذا 
            | نحن؟
    .container 
        .row.content
            .section_image.col-md-6.col-sm-12
                img.img-fluid(src="images/why_us.svg", alt="why us image")
            .section_description.col-md-6.col-sm-12
                if(lang == "En")
                    ul
                        li Quality – We aim for perfection .
                        li Innovation – New and Fresh ideas .
                        li Client Satisfaction – Punctual, friendly and professional client service .
                        li Value – Best value you can get for your money .
                        li Brand identity – Branded content that perfectly fits your brand .
                        li Originality – innovative, authentic, one of a kind content.
                        li Clients – major accounts trust our products and services.
                else if(lang == "Ar")
                    ul
                        li الجودة - نهدف إلى الإتقان.
                        li الابتكار - أفكار جديدة وحديثة.
                        li إرضاء العميل - خدمة عملاء دقيقة وودية ومحترفة.
                        li القيمة - أفضل قيمة يمكنك الحصول عليها مقابل نقودك.
                        li هوية العلامة التجارية - محتوى ذي علامة تجارية يناسب علامتك التجارية تمامًا.
                        li الأصالة - محتوى مبتكر وأصلي وفريد من نوعه.
                        li العملاء - تثق الحسابات الكبرى في منتجاتنا وخدماتنا.