footer {
    padding: 40px 0;
    background-color: #333333;
    color: #FFF;
    font-weight: 400;

    ul {
        list-style: none;
        display: flex;

        &.social {
            li {
                margin: 0 5px;
            }
        }
    }
}