footer {
    padding: 40px 0;
    background-color: #333333;
    color: #FFF;
    font-weight: 400;
    margin-top: 40px;

    ul {
        list-style: none;
        display: flex;
        margin-top: 20px;

        &.social {
            li {
                margin: 0 5px;
            }
        }

        &:not(.social) {
            li:hover {
                color: $logo_color_one;
                font-weight: bold;
            }
        }
    }
}