nav {
    background-color: $logo_color_one;
    position: sticky !important;
    top: 0;
    z-index: 3;

    .logo {
        width: 130px;
    }

    .nav-item {
        text-align: center;
        margin-inline-end: 15px;

        .nav-link {
            color: $logo_color_Two;

            &.active {
                color: $logo_color_Two;
                font-weight: 900;
                text-shadow: 4px 2px 7px $logo_color_Three;
            }

            &:hover {
                color: $logo_color_Three !important;
            }
        }
    }

    .language {
        text-decoration-line: none;
        color: $logo_color_Two;
        font-size: 14px;
        margin-inline-end: 10px;
    }

    .social {
        height: 30px;
        width: 30px;
        background: $logo_color_Two;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        margin: 10px;
    }
}