nav {
    background-color: $logo_color_one;
    position: sticky !important;
    top: 0;
    z-index: 3;

    .logo {
        width: 130px;
    }

    .nav-item {
        text-align: center;
        margin-inline-end: 15px;

        .nav-link {
            color: $logo_color_two;

            &.active {
                color: $logo_color_two;
                font-weight: 900;
                // text-shadow: 4px 2px 7px $logo_color_three;
                border: 1px solid;
            }

            &:hover {
                color: $logo_color_one !important;
                background-color: $logo_color_two;
                transform: scale(1.1);
            }
        }
    }

    .language {
        text-decoration-line: none;
        color: $logo_color_two;
        font-size: 14px;
        margin-inline-end: 10px;
    }

    .social {
        height: 30px;
        width: 30px;
        background: $logo_color_two;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        margin: 10px;
    }
}