nav {
    background-color: $logo_color_one;

    .logo {
        width: 70px;
    }

    .nav-item {
        text-align: center;

        .nav-link {
            color: $logo_color_Two;

            &.active {
                color: $logo_color_Three !important;
                font-weight: bold;
            }

            &:hover {
                color: $logo_color_Three !important;
            }
        }
    }
}