.social#contacts_small
    ul#contacts_list
        li.facebook  
            a(href="https://www.facebook.com/etolv", target="blank") 
                i.fab.fa-facebook-f
        li.linkedin
            a(href="https://www.linkedin.com/company/etolv", target="blank")
                i.fab.fa-twitter 
        li.mail
            a(href="mailto:info@etolv.com")
                i.far.fa-envelope
        li.whatsapp
            a(href="https://api.whatsapp.com/send?phone=201553933330&text= Contact with Etolv easily " , target="blank")
                i.fab.fa-whatsapp
    #show_btn
        i.fa.fa-chevron-left
