.social
    ul#contacts_small
        li     
            a.facebook(href="https://www.facebook.com/etolv", target="blank") 
                i.fab.fa-facebook-f
        li
            a.linkedin(href="https://www.linkedin.com/company/etolv", target="blank")
                i.fab.fa-twitter 
        li
            a.mail(href="mailto:info@etolv.com")
                i.far.fa-envelope
        li
            a.whatsapp(href="https://api.whatsapp.com/send?phone=201553933330&text= Contact with Etolv easily " , target="blank")
                i.fab.fa-whatsapp
    #show_btn
        i.fa.fa-chevron-left
