-var navItems = [["Home", 'index.html'], ["About"] , ["Services"] , ["Product"] , ["Clients"], ["Contacts"]   ];
-var navItemsAr = [["الرئيسية", 'index-ar.html'] ,["عنا","about-ar.html"] ,["خدماتنا" , "services-ar.html"] ,["منتجاتنا" , "products-ar.html"] ,["عملائنا","clients-ar.html"], ["تواصل معنا","contacts-ar.html"] ];
footer
    .container
        .row
            .col
                img(src="images/logos/logo-transparent.png", alt="logo transparent")
            .col 
                ul.row
                    each item in navItems
                        if (lang == "En" && item[0] != pageTitle)
                            li.col-6
                                a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + ".html" )= item[0]
                    each item in navItemsAr
                        if (lang == "Ar" && item[0] != pageTitle)
                            li.col-6
                                a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + "-ar.html" )= item[0]
            .col 
                ul.social
                    li.facebook  
                        a(href="https://www.facebook.com/etolv", target="blank") 
                            i.fab.fa-facebook-f
                    li.linkedin
                        a(href="https://www.linkedin.com/company/etolv", target="blank")
                            i.fab.fa-twitter 