header
    if lang =="En"
        h2 Welcome to
        h1 Etolv
        p We are here for developing your company by presenting a completed series of services as: building websites,mobile applications,ERP systems & Digital marketing.
    else 
        |test