header
    .overlay
    .container
        .content
            if lang =="En"
                h2 Welcome to
                h1 Etolv
                p We are here for developing your company by presenting a completed series of services as: building websites,mobile applications,ERP systems & Digital marketing.
            else 
                h2 مرحباً بك مع
                h1 Etolv
                p نحن هنا لتطوير شركتك من خلال تقديم سلسلة كاملة من الخدمات مثل: بناء مواقع الويب وتطبيقات الهاتف المحمول وأنظمة تخطيط موارد المؤسسات والتسويق الرقمي.