-var navItems = [["Home", 'index.html'], ["About"] , ["Services"] , ["Product"] , ["Clients"], ["Contacts"]   ];
-var navItemsAr = [["الرئيسية", 'index-ar.html'] ,["عنا","about.html"] ,["خدماتنا" , "services.html"] ,["منتجاتنا" , "products.html"] ,["عملائنا","clients.html"], ["تواصل معنا","contacts.html"] ];
nav.navbar.navbar-expand-lg
    .container-fluid
        a.navbar-brand(href='index.html') 
            img.logo(src="images/logo.png", alt="Etolv logo")
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            if lang == "En"
                ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                    each item in navItems
                        li.nav-item
                            if pageTitle == item[0]
                                a.nav-link.active(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + ".html" )= item[0]
                            else
                                a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + ".html" )= item[0]
                a.language(href="index-ar.html") عربى
            else if (lang == "Ar")
                ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                    each item in navItemsAr
                        li.nav-item
                            if pageTitle == item
                                a.nav-link.active(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + "-ar.html" )= item[0]
                            else
                                a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + "-ar.html" )= item[0]
                a.language(href="index.html") English