-var navItems = ["Home", "About" , "Services" , "Product" , "Clients", "Contacts" ];
-var navItemsAr = ["الرئيسية" ,"عنا" ,"خدماتنا" ,"منتجاتنا" ,"عملائنا", "تواصل معنا" ];
nav.navbar.navbar-expand-lg
    .container-fluid
        a.navbar-brand(href='index.html') 
            img.logo(src="images/logo.png", alt="Etolv logo")
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            if lang == "En"
                ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                    each item in navItems
                        li.nav-item
                            if pageTitle == item
                                a.nav-link.active(aria-current='page', href= (item =="Home" ? "index.html" : item.toLowerCase() + ".html") )= item
                            else
                                a.nav-link(aria-current='page', href= (item =="Home" ? "index.html" : item.toLowerCase() + ".html"))= item
                a.language(href="index-ar.html") عربى
            else if (lang == "Ar")
                ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                    each item , index in navItemsAr
                        li.nav-item
                            if pageTitle == item
                                a.nav-link.active(aria-current='page', href= (item =="Home" ? "index.html" : item + ".html") )= item
                            else
                                a.nav-link(aria-current='page', href= (item == navItemsAr[0] ? "index-ar.html" : navItems[index].toLowerCase() + "-ar.html"))= item
                a.language(href="index.html") English