#why
    .left
        img(src="images/why_us.svg", alt="why us image")
    .right
        h2  Why Us?
        ul
            li Quality – We aim for perfection .
            li Innovation – New and Fresh ideas .
            li Client Satisfaction – Punctual, friendly and professional client service .
            li Value – Best value you can get for your money .
            li Brand identity – Branded content that perfectly fits your brand .
            li Originality – innovative, authentic, one of a kind content.
            li Clients – major accounts trust our products and services.